@font-face {
    font-family: 'Noto Sans JP';
    font-weight: 500;
    src: url('fonts/NotoSansJP-Medium.otf') format('opentype');
}

body {
    background: #1a202c;
    color: #FFFFFF;
    font-family: 'Noto Sans JP', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.content {
    width: 600px;
}

.divider {
    background: linear-gradient(to right, #0987a0, #805ad5);
    height: 6px;
}
